/* Global Resets and Definitions */
.App {
  text-align: center;
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  border: 0;
  background: none;
}

body, html, #root {
  height: 100%;
  min-width: 360px;
  min-height: 640px;
  width: 100%;
  margin: 0;
  background: #00ADF2;
  background: linear-gradient(27deg, #00ADF2 0%, #2c9dc9 50%, #00ADF2 100%);
  background: -webkit-linear-gradient(27deg, #00ADF2 0%, #2c9dc9 50%, #00ADF2 100%);
}

path {
  height: 200px;
}


/* Navbar */
#clouds {
  color: white;
  height: 150px;
}

#navbar-container {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  top: 0;
  left: 0;
  z-index: 1;
}

#navbar {
  width: 100%;
  background: white;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

#sun-title {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-left: 10px;
  /* center text */
  position: absolute;
  top: 60%;
  left: 25%;

}

#sun {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 400px;
  height: 400px;
  /* background-color: #FFD700; */
  border-radius: 50%;
  left: calc(50% - 200px);
  transform: translateY(-200px)
}

.sun-gradient {
  z-index: -1;
  width: 350%;
  height: 350%;
  position: absolute;
  animation: gra 5s infinite;
  -webkit-animation: gra 5s infinite;
  background: linear-gradient(135deg, #FFD700 0%, #f5f105 20%, #f5b905 50%, #f5f105 80%, #FFD700 100%);
  background: -webkit-linear-gradient(135deg, #FFD700 0%, #f5f105 20%, #f5b905 50%, #f5f105 80%, #FFD700 100%);
}
@keyframes gra {
  0% { left: -250%; top: -250%; }
  50% { left: -150%; top: -150%; }
  100% { left: -0; top: 0%; }
}

/* .no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

.no-scrollbar {
  cursor: grab;
}
.no-scrollbar::-webkit-scrollbar {
  width: 3px;
  display: none;
  
}

.no-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  width: 10px;
}